$main-background-color: #3F5252;
$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$page-bg: #f9f9f9;
$header-bg: #3f5252;
$header-color: #fff;
$link-color: #3f5252;
$link-hover-color: darken($link-color, 10%);
$button-bg: #3f5252;
$button-hover-bg: darken($button-bg, 10%);
$footer-bg: #333;
$footer-color: #fff;